language: generic
sudo: required
services:
    - docker


before_install:
    - docker build -t behzaDocker/docker-react -f Dockerfile.dev .

script:
    - docker run behzaDocker/docker-react npm run test -- --coverage
    - docker run -e CI=true behzaDocker/docker-react npm run test